.profile {
    padding: 20px;
}

.profileTitle {
    text-align: center;
}

ul {
    list-style-type: none;
  }

li {
    font-weight: normal;
    text-align: center;
}

.profileImage {
    border-radius: 50%;
}

h4 {
    color: #787878;
}

h5 {
    text-align: center;
}