body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h5 {
  font-weight: bold;
}

.navbar {
  background-image: url("./assets/header.jpeg") !important;
  min-height: 200px;
  background-size:cover !important;
  padding-top: -5px !important;
}

.navbar-nav {
  margin-top: -130px !important;
}

.navbar-toggler.collapsed {
  margin-top:-135px !important;
}

.collapsing {
  transition: height .001s ease !important;
}

.calendar {
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.rbc-label {
  padding: 10px 3px !important;
}
.rbc-btn-group button + button {
  margin: 1px !important;
}

.rbc-time-header > .rbc-row:nth-of-type(2) {
  display: none !important;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 3px !important;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: .375rem 1rem;
  border-radius: 0px !important;
  line-height: none !important;
  white-space: nowrap;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  border: 2px solid blue !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: white !important;
  border-color: none !important;
}

.rbc-toolbar button:hover {
  background-color: white !important;
  border-color: none !important;
}

.rbc-event {
  border-radius: 0px !important;
}

.rbc-event-label { 
  display: none !important 
}

.footer-box {
  background-color: lightblue;
  background-clip:content-box;
  padding: 14px;
}

.footer-box p {
  margin-bottom: 0;
}

.footer-box a {
  color: #212529;
}

.footer-content {
  padding: 15px;
}

@media screen and (max-width: 991px) {
  .navbar-nav {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 650px) {
  .navbar-nav {
    margin-top: 0px !important;
  }

  .rbc-btn-group button {
    padding: 3px !important;
    font-size: 12px;
  }
  span.rbc-toolbar-label {
    padding: 0 !important;
    font-size: 14px !important;
  }
  .rbc-timeslot-group {
    font-size: 14px !important;
  }

  .rbc-calendar {
    height: 450px !important;
  }

  .rbc-header {
    font-size: 10px !important;
  }
  .rbc-time-view {
    max-height: 450px !important;
  }
  .rbc-label {
    padding: 0px 5px !important;
    padding-top: 8px !important;
  }
}